.infor_c {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    margin: 0 0 30px;
    position: relative;
}

.infor_c h5 {
  border-bottom: 1px solid #efefef;
  line-height: 20px;
  padding: 15px;
}

.infor_c .infor_c_inn {
    padding: 25px 15px;
}

.infor_c .infor_c_inn p {
    color: #898989;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin: 0 0 25px;
    padding: 0;
}

.infor_c .infor_c_inn .addr_c_inn p {
    margin: 0 0 10px;
}
.infor_c .infor_c_inn p {
    color: #898989;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin: 0 0 25px;
    padding: 0;
}