.card-title {
	font-family: 'CleanvertisingBlack';
	text-transform: uppercase;
}

.list-group-item {
	padding: 7px 25px;
}

.card-title .toggle-link:after  {
    font-family: 'FontAwesome';
    content: "\f0d7";    
    float: right;        
}

.card-title .toggle-link.collapsed:after {
    content: "\f0d8"; 
}

.card-title a {
	display: block;
}

.card-block > img{
    height: auto; 
    width: 100%;
    margin-bottom: 1rem;
}