.catalog-item {
    margin-top: 60px;
    margin-bottom: 60px;
}

.catalog-item-desc {
	background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    margin: 0 0 30px;
    position: relative;
}

.catalog-item .color-block {
    padding: 20px 15px;
}


.catalog-item-desc .image-block {
	padding: 20px 15px;
}

.catalog-item-desc h5 {
    padding: 15px 25px;
}

.catalog-item-desc h5 {
    border-bottom: 1px solid $gray-lighter;
    line-height: 20px;
    padding: 15px;
}

.catalog-item-desc  p {
    color: $gray-light;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0 0 21px;
}

.catalog-item-desc .description-body {
	padding: 20px;
}

.catalog-item-desc .description-bottom > .btn_c {
	margin-bottom: 20px;
}

