$color-primary:             #A4B25B;
$color-info:                #e79227;
$color-success:             #5cb85c;
$color-warning:             #f0ad4e;
$color-danger:              #d9534f;


$color-facebook:            #325C94;
$color-tweeter:             #02ACDC;
$color-insta:               #F26529;
