.navbar {
    padding: 0;
    position: relative;
}

nav .nav_top {
    padding: 10px 0;
}

.nav > li > a {
    display: block;
    position: relative;
}

nav .nav_bottom {
    position: relative;
    padding: 14px 0 0;
    border-top: 1px solid $gray-lighter;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.12);
}

nav .nav_top .nav_top_left ul {
    margin: 0;
    padding: 0;
}

nav .nav_top .nav_top_left ul li:first-child {
    border-left: medium none;
    padding-left: 0;
}

nav .nav_top .nav_top_left ul li {
    float: left;
    margin: 0;
    padding: 0 15px;
    border-left: 1px solid $gray-lighter;
}

nav .nav_top .nav_top_left ul li a {
    @include nav-top-font;
    display: block;
    margin: 0;
    padding: 0;
}

nav .nav_top .nav_top_left ul li a:hover {
    color: $color-primary;
}

nav .nav_top .nav_top_right ul {
    margin: 0;
    padding: 0;
}

nav .nav_top .nav_top_right ul li:first-child {
    border-left: medium none;
    padding-left: 0;
}

nav .nav_top .nav_top_right ul li {
    @include nav-top-font;
    display: block;
    float: left;
    margin: 0;
    padding: 0 15px;
    border-left: 1px solid $gray-lighter;
}

nav .nav_top .nav_top_right i {
    color: $color-primary;
}

nav .nav_bottom .nav_bottom_right {
	z-index: 788;
    float: right;
    position: relative;
}

nav .nav_bottom .menu_c {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 62px;
    z-index: 99;
}

nav .nav_bottom .menu_title {
    border-bottom: 1px solid #efefef;
    padding: 15px 25px;
}

nav .nav_bottom .menubtn a {
    cursor: pointer;
}

nav .navbar-nav a.dropdown-toggle {
    cursor: pointer;
} 

nav .nav_bottom .dropdown-menu {
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 0;
    border: 1px solid $gray-lighter;
    margin: 0;
}

nav .dropdown-menu ul li {
    margin: 0;
    padding: 0;
}

nav .dropdown-menu ul li a {
    color: $color-primary;
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-light .navbar-nav > .open > a, 
.navbar-light .navbar-nav > .open > a:hover, 
.navbar-light .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: $color-primary;
}

nav .nav_bottom .dropdown {
    position: static;
}

// .menu_cshow .menu_c {
//     opacity: 1;
//     visibility: visible;
// }

// .menu_c {
//     display: block !important;
//     opacity: 0;
//     transition: all 0.4s ease-in-out 0s;
//     visibility: hidden;
// }

.brand {
	float: left;
}

.navbar-light {
    background-color: #ffffff;
    border-color: $gray-lighter;
}

.navbar-light .navbar-nav > li > a {
	font-family: 'CleanvertisingBlack';
	text-transform: uppercase;
	padding: 13px 0 23px 10px; 
	color: $gray-dark;
}

.navbar-light .navbar-nav > .active > a, 
.navbar-light .navbar-nav > .active > a:hover, 
.navbar-light .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: $color-primary;
}