@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "navigation";

$brand-primary:             #A4B25B;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

html {
    width: 100%;
    height: 100%;
}

body {
    @extend html;
	background-color: $gray-lighter;
    font-family: $font-family-base;
}

ul li {
    list-style: outside none none;
}



