@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "main-variables";
@import "mixins/fonts";
@import "navigation";
@import "navigation-responsive";
@import "footer";
@import "footer-responsive";
@import "home";
@import "home-responsive";
@import "catalog";
@import "item";
@import "constructor";
@import "contact";

@font-face {
    font-family: 'CleanvertisingLight';
    src: url('/fonts/CleanvertisingLight.eot');
    src: url('/fonts/CleanvertisingLight.eot?#iefix')format('embedded-opentype'),
    url('/fonts/CleanvertisingLight.woff') format('woff'),
    url('/fonts/CleanvertisingLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'CleanvertisingBlack';
    src: url('/fonts/CleanvertisingBlack.eot');
    src: url('/fonts/CleanvertisingBlack.eot?#iefix')format('embedded-opentype'),
    url('/fonts/CleanvertisingBlack.woff') format('woff'),
    url('/fonts/CleanvertisingBlack.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    @extend html;
	background-color: $gray-lighter;
    font-family: 'CleanvertisingLight';
}

ul li {
    list-style: outside none none;
}

h5 {
	color: #000;
    font-size: 14px;
	font-family: 'CleanvertisingBlack';
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
}

h2 {
    color: $gray-dark;
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}


.btn_c {
    background: $color-primary none repeat scroll 0 0;
    border: medium none;
    border-radius: 16px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    position: relative;
    text-align: center;
    text-shadow: -1px -1px 1px $color-primary;
    width: 130px;
    text-shadow: none !important;
}

a.btn_c {
	text-decoration: none;
}

a.btn_c:hover, a.btn_c:focus {
	color: #ffffff;
}

.btn_c.info_btn, .btn_c.btn_c2 {
    background: $color-info none repeat scroll 0 0;
}

.btn_c.cart_btn_1, .checkout-btn {
    background: $color-primary none repeat scroll 0 0;
    text-shadow: none !important;
}


//------------------PRODUCT BOX----------------------------
.product-box {
	background: #fff none repeat scroll 0 0; 
	border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin-bottom: 30px;
}

.product-box .box {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.product-box .box img {
    height: auto;
    width: 100%;
}

.product-box .box .overlay {
    background: rgba(3, 50, 68, 0.1) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
}

.product-box:hover .box .overlay {
    opacity: 1;
}

.product-box .box .info_btn, .product-box .box .cart_btn_1 {
    margin: -100px auto 10px;
    transition: all 0.5s ease 0s;
}

.product-box:hover .box .cart_btn_1 {
    margin: 55px auto 10px;
}

.product-box:hover .box .info_btn {
    margin: 100px auto 10px;
}


.product-box:hover .box .info_btn, .product-box:hover .box .cart_btn_1 {
    transition: all 0.5s ease 0s;
}

.product-box {
    overflow: hidden;
    position: relative;
}

.new-label {
    background: $color-new none repeat scroll 0 0;
    color: white;
    display: block;
    font-family: 'CleanvertisingBlack';
    left: -34px;
    padding: 11px 0 7px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    transform: rotate(-45deg);
    width: 140px;
    z-index: 1;
}

.sale-label {
    background: $color-sale none repeat scroll 0 0;
    color: white;
    display: block;
    font-family: 'CleanvertisingBlack';
    right: -34px;
    padding: 11px 0 7px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 16px;
    transform: rotate(45deg);
    width: 140px;
    z-index: 1;
}

.product-box .box a.info_btn:hover, .product-box .box a.cart_btn_1:hover {
	color: #fff;
}

.product-box:hover .box a.cart_btn_1 {
    margin: 50px auto 10px;
}

.product-box:hover .box img {
    height: auto;
    width: 100%;
}

.product-box .d-box {
	padding: 18px;
}

.product-box .d-box h5 a {
    color: $gray-dark;
}

.product-box .d-box  p {
    color: $gray-light;
    font-size: 14px;
    line-height: 16px;
    padding: 7px 0 14px;
}

.product-box .product-box-bottom {
    font-size: 18px;
	font-weight: bold;
    line-height: 22px;
    color: $color-primary;
}

.product-box .d-box del.price {
    color: $color-danger;
    font-size: 18px;
	font-weight: bold;
    line-height: 22px;
}

.btn-backto {
    background: rgba(0, 0, 0, 0) url("/images/btns/back_to.png") no-repeat scroll center center;
    color: $gray-dark;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    line-height: 33px;
    text-align: center;
    width: 151px;
}

.btn-backto:hover {
    color: #373a3c;
}

a.btn-backto .fa {
    color: $color-primary;
    font-size: 14px;
    line-height: 34px;
    margin: 0 8px 0 0;
}

.title {
    padding-bottom: 30px;
}

.margined-section {
    
}